
*.bin

pasmo

gl

.DS_Store

*.tzx

*.mp3

*.wav

*.pyc

*.TODO

tzxlist

tapeconv

tape2wav

rzxdump

rzxtool

scl2trd

snap2tzx

snapconv

*.fmf

*.mp4

audio2tape

createhdf

listbasic

profile2map

raw2hdf

*.asmgl

*.exe

*.out

exomizer

*.o

exomizer207/src/b2membuf

*.exo_b

exomizer207/src/sfxdecr

exomizer207/src/exoraw

exomizer207/src/exobasic

exomizer207/src/deps
